  <link rel="stylesheet" href="../asset/style/header_customer.css">

    <div class="header_customer header-table">
      <div class="header-element logo">
        <div class="logo-group">
          <img
            class="logo-icon"
            src="../asset/image/icon_car.png"
            alt="LogoIcon"
          />
          <img
            class="logo-icon"
            src="../asset/image/InsuranceCard.png"
            alt="LogoTitle"
          />
        </div>
      </div>

      <div class="header-element">
        <ul class="breadcrumb">
          <li>
            <a href="">DashBoard</a>
          </li>
          <li>
            <a href="">Services</a>
          </li>
          <li>
            <a href="">Contract</a>
          </li>
          <li>
            <div class="dropdown">
              <a class="dropbtn">History</a>
              <div class="dropdown-content">
                <a class="dropdown-title" href="#">Payment</a>
                <a class="dropdown-title" href="#">Compensation</a>
              </div>
            </div>
          </li>
          <li>
            <a href="">Contacts</a>
          </li>
        </ul>
      </div>
      <div class="header-element" style="width: 20em;">
        <div class="user-role">
          <a href=""><img src="../asset/image/icon_bell.png" alt="bell" /></a>
          <a href=""><img src="../asset/image/icon_user.png" alt="bell" /></a>
        </div>
      </div>
    </div>
