section {
    width: 76%;
    height: 630px;
    margin-left: 330px;
    margin-top: 117px;
    margin-bottom: 60px;
    background: #FFF9EC;
    color: #5C2941;
}

.row .staff-welcome {
    border: solid;
    width: 100%;
}