/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 12, 2022, 10:48:38 PM
    Author     : quynm
*/

.content_container{
    margin-top: 180px;
    margin-bottom: 40px;
    min-height: 60vh;
}

.title-container{
    text-align: center;
}

.success-icon{
    width: 300px;
}

.title{
    color: #fc6376;
}

.sub-title{
    font-size: 20px;
}
.receipt-detail{
    display: block;
    border-radius: 2px;
    box-shadow: 0 1px 2px #bbb;
}
table{
    display: block;
    padding: 10px;
}