/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 21, 2022, 9:47:03 PM
    Author     : quynm
*/

:root{
    --color1: #ffdccc00;
    --color2: #fdb1a6;
    --color3: #fc6376;
    --color4: #5c2941;
}

.title{
    margin-top: 110px;
    
}