
select {
    padding: 0.2rem 0.7rem;
    background-color: #FFF9EC;
    text-align: center;
}

select:hover, #startDate:hover {
    cursor: pointer;
    background-color: #FDC8C0;
}

#startDate {
    background-color: #FFF9EC;
}
