
select {
    padding: 0.2rem 0.7rem;
    background-color: #FFF9EC;
    text-align: center;
}

select:hover, #startDate:hover {
    cursor: pointer;
    background-color: #FDC8C0;
}

#startDate {
    background-color: #FFF9EC;
}

section .delivery-content .row {
    margin-bottom: 2rem;
}

section .delivery-content input {
    background-color: #FFF9EC;
    border: 0.5px solid #000000;
}

section .delivery-content input:hover {
    background-color: #FDC8C0;
}
