main{
    margin-left: 20em;
    margin-top: 10em;
}

.custom-card {
    background-color: rgba(70, 159, 227, 0.8);
    color: white;
    font-weight: 600;
    border-radius: 10px;
    width: 20em;
    margin-bottom: 1em;
}

.custom-card-text {
    text-align: center;
    font-size: 1em;
    margin: 1em;
}

.custom-card-title {
    margin-bottom: 20px;
}

.custom-card-icon {
    text-align: center;
    font-size: 4em;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.custom-card-rank {
    border: solid 1px black;
    background-color: rgba(93, 93, 93, 0.7);;
}

/* .numberCircle {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: 10px;
    background: #fff;
    border: 3px solid #000;
    color: #000;
    text-align: center;
} */

.numberCircle {
    width: 250px;
    height: 250px;
    background-color: #40a977;
    border-radius: 50%;
    float: left;
    -webkit-shape-outside: circle();
    shape-outside: circle();
}

.total-number {
    font-size: 3em;
    background-color: #40a977;
    width: fit-content;
    padding: 10px 25px;
    border-radius: 50%;
    font-weight: 600;
    margin: 0.3em;
}

.total-title-align {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);


}

.total-title {
    text-align: right;
 font-size: 20px;
 font-weight: 600;
}

.table-rank-head {
    color: white;
    background-color: rgba(78, 75, 75, 0.5);
}